body {
    background-color:rgb(114, 114, 230)
}
form{
    border: 1px solid rgb(43, 29, 3);
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 37%;
    margin-right: 45%;
    background-color: white;
    color: grey ;
    border-radius: 50px;
    
}
